:root {
  --pico-font-family: 'Gravity';
  --pico-font-weight: 350;
}

h1, h2 {
  font-weight: 350;
}

h2 {
  font-size: larger;
}

h2,
summary,
.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  overflow: hidden;
  width: 100%;
}

.hero__image {
  width: 100%;
  height: auto;
  max-height: 75vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.main-title {
  font-size: xx-large;
  margin-top: 50px;
  letter-spacing: .2em;
}

.copyright {
  font-size: medium;
  font-weight: 250;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social {
  margin-top: 20px;
  text-align: center;
}

.social-icons {
  padding-right: 2px;
  color: var(--pico-h1-color);
}
