@font-face {
  font-family: gravity;
  font-style: normal;
  font-weight: 250;
  src: local('Gravity-Ultralight'),
  url(https://fonts.cdnfonts.com/s/17843/Gravity.woff) format('woff')
}

@font-face {
  font-family: gravity;
  font-style: normal;
  font-weight: 300;
  src: local('Gravity-Light'),
  url(https://fonts.cdnfonts.com/s/17843/Gravity.woff) format('woff')
}

@font-face {
  font-family: gravity;
  font-style: normal;
  font-weight: 350;
  src: local('Gravity-Book'),
  url(https://fonts.cdnfonts.com/s/17843/Gravity.woff) format('woff')
}

@font-face {
  font-family: gravity;
  font-style: normal;
  font-weight: 400;
  src: local('Gravity-Regular'),
  url(https://fonts.cdnfonts.com/s/17843/Gravity.woff) format('woff')
}

@font-face {
  font-family: gravity;
  font-style: normal;
  font-weight: 700;
  src: local('Gravity-Bold'),
  url(https://fonts.cdnfonts.com/s/17843/Gravity.woff) format('woff')
}
