.hero {
  border-radius: 0;
}

.hero__image {
  max-height: 75vh;
}

.post__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.post__item {
  flex: 1 1 calc(50% - 20px); /* 2 items per row */
  max-width: calc(50% - 20px);
}

@media (max-width: 500px) {
  .post__item {
    flex: 1 1 100%; /* 1 item per row */
    max-width: 100%;
  }
}

.post__item {
  overflow: hidden;
  margin: 5px;
  padding: 0;
  border: 1px solid var(--pico-card-sectioning-background-color);
  border-radius: 5px;
}

.post__item .post__title {
  transition: text-decoration-color .3s ease-in;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

.post__item:hover .post__title {
  text-decoration-color: var(--pico-h6-color);
  -webkit-text-decoration-color: var(--pico-h6-color);
  -moz-text-decoration-color: var(--pico-h6-color);
}

.post__content {
  padding: 10px;
}

.post__link {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}
